<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= simple_form_for(@home_page, html: { class: 'form-horizontal' }) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-group">
          <%= f.input :title, class: 'form-control', label: 'Title' %>
        </div>

        <div class="form-group">
          <%= f.input :content, class: 'form-control', label: 'Content' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
